extends layout

block content
   include personal
   include education
   include work
   include skills
   include honors
   include references
   include languages
   include hobby
   include travel 
   